<a href="https://colab.research.google.com/github/christinezuzart/Python/blob/master/Python_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a Dictionary

In [1]:
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"

print (dict)

{'one': 'This is one', 2: 'This is two'}

In [2]:
dict = {'one': 'This is one', 2 :'This is two'}

print (dict)

{'one': 'This is one', 2: 'This is two'}

The keys in the Dictionary are unique.The last value assigned to key is considered here.

In [3]:
tinydict = {'name': 'john','code':6734, 'dept': 'sales', 'dept': 'christmas'}
print(tinydict['dept'])

christmas

Query the keys and values of a Dictionary

In [4]:
print(tinydict.keys())
print(tinydict.values())

dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'christmas'])

Accessing Values in Dictionary

In [5]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])

dict['Name']:  Zara

Updating Dictionary

In [6]:
dict['School'] = "DPS School"
print(dict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

Delete Dictionary Elements

In [7]:
del dict['Name']; # remove entry with key 'Name'
print(dict)

{'Age': 7, 'Class': 'First', 'School': 'DPS School'}

In [8]:
dict.clear();     # remove all entries in dict
print(dict)

{}

In [9]:
del dict ;        # delete entire dictionary
print(dict)

<class 'dict'>